# === LOGS ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
request.log
error.log

# === NODE MODULES ===
node_modules

# === FRONTEND (Vite/React) ===
**/dist
dist-ssr
*.local

# === BACKEND ===
.npm

# === ARQUIVOS DE SISTEMA ===
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === VARIÁVEIS DE AMBIENTE ===
.env